h1 {
    text-align : center;
    color : rgb(36, 128, 233)
}
button {
    color : black;
    background-color : rgb(174, 241, 252);
    text-align : right;
}
body {
    background-color : rgb(181, 172, 241) 
}
.myclass {
    margin-right : 20px;
   
}
#yy {
    margin-right : 500px;
    
}
body {
   /* background-image : url("https://images3.alphacoders.com/723/72397.jpg"); */
   background-color : white;
    background-size : cover;
}
#heading {
    display :flex;
    justify-content : center;
}