body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 20px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .bar-container {
    background-color: yellow;;
    display: flex;
   justify-content: flex-start;;
    align-items: flex-end;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
    transform: rotate(90deg);
  }
  
  .bar {
    background-color: #4287f5;
    flex-shrink: 0;
    width: 5px;
    transition: height 0.3s ease-in-out;
    margin-right: 1px;
  }
  